html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#loading {
  height: 100%;
  width: 100%;
  padding: auto;
  z-index: 2;
  padding-top: 200px;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
  } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
}

#joinRoomOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.253);
  z-index: 2;
  cursor: pointer;
}

#joinRoomContainer {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  border-radius: 10px;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.textInput:focus {
  outline: none;
}

.textInput {
  background-color: white;
  padding: 8px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  min-width: 250px;
  margin: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}


.container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.navBar {
  width: 300px;
  background-color: #3f3f3f;
  height: 100%;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.usernameDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdfdfd;
}

.addClassroom {
  margin-top: 15px;
  width: 100%;
  border: 1.5px dashed #27a4ff;
  border-radius: 10px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #27a4ff;
  cursor: pointer;
}

.addClassroom:hover {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);
-moz-box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);
box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);   
}

.classroomBlock {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  height: 130px;
  background-color: teal;
  background-image: url("./assets/img/card.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
  color: white;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 18px -8px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 0px 18px -8px rgba(148, 148, 148, 1);
  box-shadow: 0px 0px 18px -8px rgba(148, 148, 148, 1);
}

.main {
  flex: 1;
  padding: 15px;
  max-width: 900px;
  margin: auto;
}

.focio {
  flex: 1;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.liveClass {
  width: 100%;
  background-color: #fff2f2;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.startLiveClass {
  width: 100%;
  background-color: #ffc8c8;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.noLiveClass {
  background-color: #ecfaff;
}

.noLiveClass1 {
  background-color: #ecfaff;
  display: block;
}

.liveLogo {
  display: inline-block;
  border: 1px solid #cd0202;
  border-radius: 5px;
  color: #cd0202;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.lightShade {
  display: inline-block;
  padding-top: 5px;
  color: rgb(61, 61, 61);
}

.liveClassLeft {
  flex: 1;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  font-family: Graphik Web Medium, sans-serif;
  font-size: 13px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 9px 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: -webkit-transform 0.15s ease,
    -webkit-box-shadow 0.15s ease;
  transition: -webkit-transform 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  transition: transform 0.15s ease, box-shadow 0.15s ease,
    -webkit-transform 0.15s ease, -webkit-box-shadow 0.15s ease;
  background-color: #1f7ae0;
  border: 1px solid #1f7ae0;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.liveClassRight {
  /* padding-top: 20px; */
}

.mainDivider {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.testWindow {
  flex: 1;
  width: 100%;
  background-color: #fdfdfd;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px solid rgb(143, 143, 143);
  min-height: 270px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.attendanceWindow {
  flex: 1;
}

.windowDivider {
  width: 20px;
  height: 10px;
}

.attendanceBlock {
  width: 100%;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.arrowContainer {
}

.datesContainer {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-evenly;
}

.statsContainer {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.statsMain {
  width: 100%;
  background-color: #ecf0f1;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.classBanner {
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 170px;
  background-image: url("https://assets.tvo.org/prod/s3fs-public/styles/full_width_1280/public/article-thumbnails/kids%20in%20classroom.JPG?KgEyQTBORydSiHj.xIj8ROjMdJvgPW4r");
  color: white;
}

.date {
  text-align: center;
  background-color: #dfdfdf;
  font-size: 20px;
  width: 70px;
  padding: 5px;
  border-radius: 10px;
}

.dot {
  border-radius: 10px;
  height: 7px;
  width: 7px;
  animation: blink 1.5s infinite;
  background-color: #cd0202;
  display: inline-block;
  margin-right: 2px;
  margin-left: 6px;
  margin-bottom: 2px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.headerContainer {
  display: flex;
  align-items: center;
}


.classroomBlock:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);
  box-shadow: 0px 0px 10px 2px rgba(199,199,199,0.5);   
}


.emptyContent {
  width: 100%;
  height: 590px;
  background-image: url('./assets/img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 230px ;
}

.pgInput {
  width: 46px;
  height: 30px;
  text-align: center;
}